.btn {
  display: inline-block;
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  padding: 1.2rem 2.6rem;
  border: 2px solid $color-white;
  color: $color-white;
  text-decoration: none;
  outline: none;
  @include transition;

  &:hover {
    color: #222;
    background-color: $color-white;
  }
}
