.btn {
  display: inline-block;
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  padding: 1.2rem 2.6rem;
  border: 2px solid $color-white;
  color: $color-white;
  text-decoration: none;
  outline: none;
  @include transition;

  &:hover {
    color: #222;
    background-color: $color-white;
  }

  &--form {
    color: #222;
    border: 2px solid black;
    font-weight: 400;
    padding: 1.4rem 3.5rem;
    cursor: pointer;

    &:hover {
      color: $color-white;
      background-color: #222;
    }
  }

  &--add {
    color: #222;
    border: 2px solid black;
    font-weight: 400;
    padding: 2.3rem 3.2rem;
    cursor: pointer;

    &:hover {
      color: $color-white;
      background-color: #222;
    }
  }
}

.btn-anchor {
  color: $color-gray;
  font-size: 1.8rem;
  text-decoration: none;
  @include border-bottom;
}
