.product-nav {
  display: flex;
  justify-content: space-between;
  padding-bottom: 4.5rem;
  color: $color-gray-darker;

  &__icon {
    font-size: 1rem;
    margin: 0 0.8rem;

    &--prev {
      margin-right: 0.4rem;
    }

    &--next {
      margin-left: 0.4rem;
    }
  }

  &__link {
    color: inherit;
    font-size: 1.2rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
  }
}
